<%= turbo_frame_tag "dashboard_lift_event_activities" do %>
  <div class="flex flex-col mt-2">
    <div class="align-middle min-w-full overflow-x-auto overflow-y-auto shadow sm:rounded-lg">
      <table class="min-w-full divide-y divide-gray-200 ">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Lift Event Material</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Month</th>
            <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Net Weight (tn)</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @activities.each do |key, value| %>
            <tr class="bg-white">
              <td class="px-6 py-4 text-left whitespace-nowrap text-sm text-gray-500">
                <%= key[0] %>
              </td>
              <td class="px-6 py-4 text-left whitespace-nowrap text-sm text-gray-500">
                <%= ldate(key[1], format: :month_year) %>
              </td>                          
              <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                <%= to_tonnes(value.round) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<% end %>